a:hover {
  text-decoration: none;
}
.vl {
  border-left: 2px solid black;
  height: 100%;
  position: absolute;
  top: 0;
}

.red {
  background-image: "./image/bg1.jpeg";
  border: 5px black;
  width: 20%;
  height: 100vh;
  float: left;
}

.yellow {
  border: 5px black;
  width: 70%;
  height: 100vh;
  float: left;
}

.blue {
  border: 5px black;
  width: 10%;
  height: 100vh;
  float: left;
}

.card {
  margin: 20px;
}

.car-img {
  background-image: url("./image/image\ \(1\).jpg");
  background-size: cover;
  background-position: center center;
}

.car-img2 {
  background-image: url("./image/bg1.jpeg");
  background-size: cover;
  background-position: center center;
}

.show-card {
    transition: all 0.5s ease;
}